{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="container rounded" style="background-color: #dbdada;">
        <div class="row">
            <div class="col-sm-4">
                <div class="mx-auto">
                    <img src={{ podcast.image }} class="rounded" height="300px" width="300px">
                </div>
            </div>
            <div class="col-sm-8" >
                <h2>{{ podcast.title }}</h2>
                <p>{{ podcast.description }}</p>
                <a href={{ podcast.id }} class="btn btn-primary">Visit Website</a>
            </div>
        </div>
    </div>
    <br>
    {% if current_user.is_authenticated %}
        <ul class="list-group">
            {% for episode in podcast.episodes %}
            <li class="list-group-item">
                <a href="/favorite/{{episode.id}}/{{podcast.id}}" class="btn btn-primary btn-sm">Add to Favorites</a>
                <a href={{ episode.audio_url}}>    {{episode.title}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-group">
            {% for episode in podcast.episodes %}
            <li class="list-group-item">{{ episode.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock content %}