{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="card-columns">
        {% for podcast in podcasts %}
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{ podcast.image }}>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ podcast.title }}
                    </h5>
                    <!-- <p class="card-text">
                        {{ podcast.description }}
                    </p> -->
                    <a href="/{{ podcast.id }}" class="btn btn-primary">View Episodes</a>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}