{% extends "layout.html" %}
{% block content %}
    <br>
    <form action="" method="POST" style="text-align: center">
        {{ form.hidden_tag() }}
        {{ form.username(placeholder="Username") }}
        <br>
        <br>
        {{ form.email(placeholder="Email") }}
        <br>
        <br>
        {{ form.password(placeholder="Password")}}
        <br>
        <br>
        {{ form.confirm_password(placeholder="Password") }}
        <br>
        <br>
        {{ form.submit }}
    </form>
{% endblock content %}