{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark" ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href={{ url_for('home') }}>Podcasts</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
        <li><a href={{ url_for('home') }}>Home</a></li>
        <li><a href={{ url_for('about') }}>About</a></li>
        <li><a href={{ url_for('test') }}>Test</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
    <h1>Block Content</h1>
{% endblock %}